*.snk
*.local.*
node_modules/
**/out.local*/
**/*.tgz
.vs/
**/*.user
**/*.binlog
artifacts/
.idea/
**/*.tsbuildinfo
**/generated/**/*
*/dev-dist/**/*
Server/wwwroot/assets/**/*
lib/OpenApiCodegen.Client.TypeScript.Test/testing
